.parallax-background {
    background-image: url('/assets/images/home-image.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}